.header { 
    float: left;
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 25px;
    margin-left: 15%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
}

.navbar-nav {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.navbar-nav li {
    margin-right: 15px;
}

.navbar-nav li.last {
    margin-left: auto;
}
