@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     line-height: normal;
     color: #000000;
     margin: 0
}

h1 {
    color: #cacaca;
    font-size: 24px;
}
h2 {
     font-size: 22px;
}
h3 {
     font-size: 18px;
}
h4 {
     font-size: 16px;
}
h5 {
     font-size: 14px;
}
h6 {
     font-size: 13px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #000000;
     text-decoration: none!important;
     opacity: 1;
}

p {
     margin: 20px;
     font-weight: 400;
     font-size: 15px;
     line-height: 24px;
}
